$icon-font-path: '../fonts/';

//noinspection CssUnknownTarget
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
//noinspection CssUnknownTarget
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700);

// bower:scss
//noinspection CssUnknownTarget
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

$space-sm: 8px;
$space-md: 18px;
$space-lg: 26px;
$space-xlg: 76px;

$color-primary: #4E5864;
$color-secondary: #C9CCD0;
$color-divider: #F7F7F7;
$green: #5ABD4B;
$radius: 5px;

body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 2;
  color: $color-primary;
  min-width: 800px;
}

hr {
  border: none;
  height: 3px;
  color: $color-divider;
  background-color: $color-divider;
  margin: $space-xlg 0 $space-xlg;
}

.header {
  height: 462px;
  width: 100%;
  text-align: right;
  background: transparent url('../images/header_background.jpg') repeat-x;
  -webkit-background-size: 1165px;
  background-size: 1165px;
}

.container {
  width: 800px;

  .pictures img {
    margin-bottom: $space-md;
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
    @include opacity(0.9);
    @include border-bottom-radius($radius);
    @include border-top-radius($radius);
    @include border-right-radius($radius);
    @include border-left-radius($radius);
  }

  .texts {

    .title {
      font-family: "Roboto Slab", serif;
      font-weight: bold;
      font-size: 30px;
      margin-bottom: $space-lg;
    }

    .subtitle {
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 600;
      line-height: 1.5;
      padding-top: $space-lg;
    }

    p { margin-bottom: $space-md; }
    .faded { color: $color-secondary; }
  }

  .footer {
    .registration-form {
      input {
        width: 260px;
        display: inline-block;
        vertical-align: middle;
      }
      .btn.btn-primary {
        background: $green;
        border: none;
        @include box-shadow(inset 0px -1px 0px rgba(0, 0, 0, 0.1));
        &:hover { background: darken($green, 5%); }
      }
      margin-bottom: $space-xlg;
    }
    text-align: center;
    padding-bottom: $space-md;
  }
}

